doctype html
html
    head
        title My Site
        script(type='text/javascript' src='/script.js')
    body
        - var message = 'What a great template engine'
        h1 Hello world
        if message
            p Message: #{message}
        else
            p Message: no message defined.
        include list.pug

        mixin list(name, items)
            ul= name
                each item in items
                    li= item
        - var list = ['chicken wings', 'nachos', 'tacos', 'suhsi']
        +list('Some foods', list)